# IS460 Machine Learning & Applications - Data Preprocessing

## <i>Unravelling the Shift in Air Travel Preferences ðŸ›«</i>

<u>Class Group No.:</u> G1<br>
<u>Student Group No.:</u> 5<br>
<u>Team Member Details:</u>
<table align='left'>
    <tr>
        <td><strong>Full Name</strong></td>
        <td><strong>Matriculation No.</strong></td>
    </tr>
    <tr>
        <td>Goh Nina Melda</td>
        <td>01445491</td>
    </tr>
    <tr>
        <td>Laetitia Hong Jae-ee</td>
        <td>01440359</td>
    </tr>
    <tr>
        <td>Leong Chong Gui</td>
        <td>01520030</td>
    </tr>
    <tr>
        <td>Ng Wei Lun Andrew</td>
        <td>01397857</td>
    </tr>
    <tr>
        <td>Sze Xin Wei</td>
        <td>01394966</td>
    </tr>
</table>

#

# Table of Contents
<table align='left'>
    <tr>
        <td><strong>No.</strong></td>
        <td><strong>Section Title</strong></td>
    </tr>
    <tr>
        <td align='center'>1</td>
        <td><a href='#1.-Dataset-Overview'>Dataset Overview</a></td>
    </tr>
    <tr>
        <td align='center'>2</td>
        <td><a href='#2.-Feature-Selection'>Feature Selection</a></td>
    </tr>
    <tr>
        <td align='center'>3</td>
        <td><a href='#3.-Segmentation-by-Time-Period'>Segmentation by Time Period</a></td>
    </tr>
     <tr>
        <td align='center'>4</td>
        <td><a href='#4.-Addressing-Missing-Values'>Addressing Missing Values</a></td>
    </tr>
    <tr>
        <td align='center'>5</td>
        <td><a href='#5.-Generative-Adversarial-Network-(GAN)'>Generative Adversarial Network (GAN)</a></td>
    </tr>
</table>

#

# 1. Dataset Overview

The table below summarises the properties of the attributes of our data source (not in chronological order).<br><br>
<i><u>Source:</u> Vyshnia, G. (2023). Kaggle. <a href='https://www.kaggle.com/code/gvyshnya/airline-reviews-sentiments-ts-and-eda/input'>Link to dataset.</a></i>
<hr>

<table align='left' style='word-wrap: break-word'>
    <tr>
        <td><strong>Category</strong></td>
        <td><strong>Name</strong></td>
        <td><strong>Data Type</strong></td>
        <td><strong>Description</strong></td>
    </tr>
    <tr>
        <td rowspan='11'>Qualitative descriptive data</td>
        <td>Serial Number</td>
        <td>Integer</td>
        <td>Indication of row indices.</td>
    </tr>
    <tr>
        <td>Airline Name</td>
        <td>String</td>
        <td>Name of airline being reviewed.</td>
    </tr>
    <tr>
        <td>Review_Title</td>
        <td>String</td>
        <td>Title of user-generated review.</td>
    </tr>
    <tr>
        <td>Review Date</td>
        <td>String</td>
        <td>Date of review submission, with format DD% Month YYYY.</td>
    </tr>
    <tr>
        <td>Verified</td>
        <td>Boolean</td>
        <td>Binary indication of whether the reviewer is verified (represented as 'True'), or not (represented as 'False').</td>
    </tr>
    <tr>
        <td>Review</td>
        <td>String</td>
        <td>Detailed user-generated review of airline experience.</td>
    </tr>
    <tr>
        <td>Aircraft</td>
        <td>String</td>
        <td>Model of aircraft boarded by user.</td>
    </tr>
    <tr>
        <td>Type of Traveller</td>
        <td>String</td>
        <td>Categorical indication of purpose of travel, designated by the following unique values:
            <li>Business</li>
            <li>Couple Leisure</li>
            <li>Family Leisure</li>
            <li>Solo Leisure</li>
        </td>
    </tr>
    <tr>
        <td>Seat Type</td>
        <td>String</td>
        <td>Categorical indication of class of seating, designated by the following unique values:
            <li>First Class</li>
            <li>Business Class</li>
            <li>Premium Economy</li>
            <li>Economy Class</li>
        </td>
    </tr>
    <tr>
        <td>Route</td>
        <td>String</td>
        <td>Specific flight route, with the following format: [Departure Destination] to [Arrival Destination].</td>
    </tr>
    <tr>
        <td>Date Flown</td>
        <td>String</td>
        <td>Month and Year of flight.</td>
    </tr>
    <tr>
        <td rowspan='9'>Quantitative descriptive data</td>
        <td>Overall_Rating</td>
        <td>Integer</td>
        <td>Ordinal rating given by user, with values between the range of 1-10.</td>
    </tr>
    <tr>  
        <td>Seat Comfort</td>
        <td>Float</td>
        <td rowspan='7'>Ordinal rating ranging from 1.0 to 5.0.</td>
    </tr>
    <tr>
        <td>Cabin Staff Service</td>
        <td>Float</td>
    </tr>
    <tr>
        <td>Food & Beverages</td>
        <td>Float</td>
    </tr>
    <tr>
        <td>Ground Service</td>
        <td>Float</td>
    </tr>
    <tr>
        <td>Inflight Entertainment</td>
        <td>Float</td>
    </tr>
    <tr>
        <td>Wifi & Connectivity</td>
        <td>Float</td>
    </tr>
    <tr>
        <td>Value For Money</td>
        <td>Float</td>
    </tr>
    <tr>
        <td>Recommended</td>
        <td>String</td>
        <td>Binary indication of whether the user recommends the airline (represented as 'yes') or not (represented as 'no').</td>
    </tr>
</table>

<hr>
<i>Back to <a href='#Table-of-Contents'>Table of Contents</a></i>

###

In [1]:
pip install tensorflow

Requirement already satisfied: tensorflow in /usr/local/lib/python3.11/site-packages (2.16.2)
Requirement already satisfied: absl-py>=1.0.0 in /usr/local/lib/python3.11/site-packages (from tensorflow) (2.1.0)
Requirement already satisfied: astunparse>=1.6.0 in /usr/local/lib/python3.11/site-packages (from tensorflow) (1.6.3)
Requirement already satisfied: flatbuffers>=23.5.26 in /usr/local/lib/python3.11/site-packages (from tensorflow) (24.3.25)
Requirement already satisfied: gast!=0.5.0,!=0.5.1,!=0.5.2,>=0.2.1 in /usr/local/lib/python3.11/site-packages (from tensorflow) (0.6.0)
Requirement already satisfied: google-pasta>=0.1.1 in /usr/local/lib/python3.11/site-packages (from tensorflow) (0.2.0)
Requirement already satisfied: h5py>=3.10.0 in /usr/local/lib/python3.11/site-packages (from tensorflow) (3.12.1)
Requirement already satisfied: libclang>=13.0.0 in /usr/local/lib/python3.11/site-packages (from tensorflow) (18.1.1)
Requirement already satisfied: ml-dtypes~=0.3.1 in /usr/local/lib/python3.11/site-packages (from tensorflow) (0.3.2)
Requirement already satisfied: opt-einsum>=2.3.2 in /usr/local/lib/python3.11/site-packages (from tensorflow) (3.4.0)
Requirement already satisfied: packaging in /usr/local/lib/python3.11/site-packages (from tensorflow) (23.2)
Requirement already satisfied: protobuf!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<5.0.0dev,>=3.20.3 in /usr/local/lib/python3.11/site-packages (from tensorflow) (4.25.3)
Requirement already satisfied: requests<3,>=2.21.0 in /usr/local/lib/python3.11/site-packages (from tensorflow) (2.31.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.11/site-packages (from tensorflow) (65.6.3)
Requirement already satisfied: six>=1.12.0 in /usr/local/lib/python3.11/site-packages (from tensorflow) (1.16.0)
Requirement already satisfied: termcolor>=1.1.0 in /usr/local/lib/python3.11/site-packages (from tensorflow) (2.5.0)
Requirement already satisfied: typing-extensions>=3.6.6 in /usr/local/lib/python3.11/site-packages (from tensorflow) (4.11.0)
Requirement already satisfied: wrapt>=1.11.0 in /usr/local/lib/python3.11/site-packages (from tensorflow) (1.16.0)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in /usr/local/lib/python3.11/site-packages (from tensorflow) (1.66.2)
Requirement already satisfied: tensorboard<2.17,>=2.16 in /usr/local/lib/python3.11/site-packages (from tensorflow) (2.16.2)
Requirement already satisfied: keras>=3.0.0 in /usr/local/lib/python3.11/site-packages (from tensorflow) (3.6.0)
Requirement already satisfied: tensorflow-io-gcs-filesystem>=0.23.1 in /usr/local/lib/python3.11/site-packages (from tensorflow) (0.37.1)
Requirement already satisfied: numpy<2.0.0,>=1.23.5 in /usr/local/lib/python3.11/site-packages (from tensorflow) (1.26.0)
Requirement already satisfied: wheel<1.0,>=0.23.0 in /usr/local/lib/python3.11/site-packages (from astunparse>=1.6.0->tensorflow) (0.38.4)
Requirement already satisfied: rich in /usr/local/lib/python3.11/site-packages (from keras>=3.0.0->tensorflow) (13.7.1)
Requirement already satisfied: namex in /usr/local/lib/python3.11/site-packages (from keras>=3.0.0->tensorflow) (0.0.8)
Requirement already satisfied: optree in /usr/local/lib/python3.11/site-packages (from keras>=3.0.0->tensorflow) (0.13.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.11/site-packages (from requests<3,>=2.21.0->tensorflow) (3.1.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.11/site-packages (from requests<3,>=2.21.0->tensorflow) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.11/site-packages (from requests<3,>=2.21.0->tensorflow) (2.0.2)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.11/site-packages (from requests<3,>=2.21.0->tensorflow) (2022.12.7)
Requirement already satisfied: markdown>=2.6.8 in /usr/local/lib/python3.11/site-packages (from tensorboard<2.17,>=2.16->tensorflow) (3.7)
Requirement already satisfied: tensorboard-data-server<0.8.0,>=0.7.0 in /usr/local/lib/python3.11/site-packages (from tensorboard<2.17,>=2.16->tensorflow) (0.7.2)
Requirement already satisfied: werkzeug>=1.0.1 in /usr/local/lib/python3.11/site-packages (from tensorboard<2.17,>=2.16->tensorflow) (3.0.4)
Requirement already satisfied: MarkupSafe>=2.1.1 in /usr/local/lib/python3.11/site-packages (from werkzeug>=1.0.1->tensorboard<2.17,>=2.16->tensorflow) (2.1.3)
Requirement already satisfied: markdown-it-py>=2.2.0 in /usr/local/lib/python3.11/site-packages (from rich->keras>=3.0.0->tensorflow) (3.0.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in /usr/local/lib/python3.11/site-packages (from rich->keras>=3.0.0->tensorflow) (2.15.1)
Requirement already satisfied: mdurl~=0.1 in /usr/local/lib/python3.11/site-packages (from markdown-it-py>=2.2.0->rich->keras>=3.0.0->tensorflow) (0.1.2)

[notice] A new release of pip is available: 23.1.2 -> 24.2
[notice] To update, run: /usr/local/opt/python@3.11/bin/python3.11 -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
import numpy as np
import tensorflow as tf
from tensorflow.keras import layers

2024-10-16 23:51:07.492752: I tensorflow/core/platform/cpu_feature_guard.cc:210] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [3]:
# loading dataset
df = pd.read_csv('Airline_review.csv')
df.head()

,Unnamed: 0,Airline Name,Overall_Rating,Review_Title,Review Date,Verified,Review,Aircraft,Type Of Traveller,Seat Type,Route,Date Flown,Seat Comfort,Cabin Staff Service,Food & Beverages,Ground Service,Inflight Entertainment,Wifi & Connectivity,Value For Money,Recommended
0,0,AB Aviation,9,"""pretty decent airline""",11th November 2019,True,Moroni to Moheli. Turned out to be a pretty ...,NaN,Solo Leisure,Economy Class,Moroni to Moheli,November 2019,4.0,5.0,4.0,4.0,NaN,NaN,3.0,yes
1,1,AB Aviation,1,"""Not a good airline""",25th June 2019,True,Moroni to Anjouan. It is a very small airline...,E120,Solo Leisure,Economy Class,Moroni to Anjouan,June 2019,2.0,2.0,1.0,1.0,NaN,NaN,2.0,no
2,2,AB Aviation,1,"""flight was fortunately short""",25th June 2019,True,Anjouan to Dzaoudzi. A very small airline an...,Embraer E120,Solo Leisure,Economy Class,Anjouan to Dzaoudzi,June 2019,2.0,1.0,1.0,1.0,NaN,NaN,2.0,no
3,3,Adria Airways,1,"""I will never fly again with Adria""",28th September 2019,False,Please do a favor yourself and do not fly wi...,NaN,Solo Leisure,Economy Class,Frankfurt to Pristina,September 2019,1.0,1.0,NaN,1.0,NaN,NaN,1.0,no
4,4,Adria Airways,1,"""it ruined our last days of holidays""",24th September 2019,True,Do not book a flight with this airline! My fr...,NaN,Couple Leisure,Economy Class,Sofia to Amsterdam via Ljubljana,September 2019,1.0,1.0,1.0,1.0,1.0,1.0,1.0,no

<hr>
<i>Back to <a href='#Table-of-Contents'>Table of Contents</a></i>

#

# 2. Feature Selection

<hr>
<i>Back to <a href='#Table-of-Contents'>Table of Contents</a></i>

In [4]:
# dropping Unnamed column as it merely describes row index
df = df.drop('Unnamed: 0', axis=1)
df.head()

,Airline Name,Overall_Rating,Review_Title,Review Date,Verified,Review,Aircraft,Type Of Traveller,Seat Type,Route,Date Flown,Seat Comfort,Cabin Staff Service,Food & Beverages,Ground Service,Inflight Entertainment,Wifi & Connectivity,Value For Money,Recommended
0,AB Aviation,9,"""pretty decent airline""",11th November 2019,True,Moroni to Moheli. Turned out to be a pretty ...,NaN,Solo Leisure,Economy Class,Moroni to Moheli,November 2019,4.0,5.0,4.0,4.0,NaN,NaN,3.0,yes
1,AB Aviation,1,"""Not a good airline""",25th June 2019,True,Moroni to Anjouan. It is a very small airline...,E120,Solo Leisure,Economy Class,Moroni to Anjouan,June 2019,2.0,2.0,1.0,1.0,NaN,NaN,2.0,no
2,AB Aviation,1,"""flight was fortunately short""",25th June 2019,True,Anjouan to Dzaoudzi. A very small airline an...,Embraer E120,Solo Leisure,Economy Class,Anjouan to Dzaoudzi,June 2019,2.0,1.0,1.0,1.0,NaN,NaN,2.0,no
3,Adria Airways,1,"""I will never fly again with Adria""",28th September 2019,False,Please do a favor yourself and do not fly wi...,NaN,Solo Leisure,Economy Class,Frankfurt to Pristina,September 2019,1.0,1.0,NaN,1.0,NaN,NaN,1.0,no
4,Adria Airways,1,"""it ruined our last days of holidays""",24th September 2019,True,Do not book a flight with this airline! My fr...,NaN,Couple Leisure,Economy Class,Sofia to Amsterdam via Ljubljana,September 2019,1.0,1.0,1.0,1.0,1.0,1.0,1.0,no

<br>
As the dataset contains two date attributes, <strong>Review Date</strong> and <strong>Date Flown</strong>, only the latter will be considered as it provides a more precise indication of the date of the flight.
<br>

In [5]:
# dropping review date column due to feature redundancy
df.drop(columns=['Review Date'], inplace=True)
df.head()

,Airline Name,Overall_Rating,Review_Title,Verified,Review,Aircraft,Type Of Traveller,Seat Type,Route,Date Flown,Seat Comfort,Cabin Staff Service,Food & Beverages,Ground Service,Inflight Entertainment,Wifi & Connectivity,Value For Money,Recommended
0,AB Aviation,9,"""pretty decent airline""",True,Moroni to Moheli. Turned out to be a pretty ...,NaN,Solo Leisure,Economy Class,Moroni to Moheli,November 2019,4.0,5.0,4.0,4.0,NaN,NaN,3.0,yes
1,AB Aviation,1,"""Not a good airline""",True,Moroni to Anjouan. It is a very small airline...,E120,Solo Leisure,Economy Class,Moroni to Anjouan,June 2019,2.0,2.0,1.0,1.0,NaN,NaN,2.0,no
2,AB Aviation,1,"""flight was fortunately short""",True,Anjouan to Dzaoudzi. A very small airline an...,Embraer E120,Solo Leisure,Economy Class,Anjouan to Dzaoudzi,June 2019,2.0,1.0,1.0,1.0,NaN,NaN,2.0,no
3,Adria Airways,1,"""I will never fly again with Adria""",False,Please do a favor yourself and do not fly wi...,NaN,Solo Leisure,Economy Class,Frankfurt to Pristina,September 2019,1.0,1.0,NaN,1.0,NaN,NaN,1.0,no
4,Adria Airways,1,"""it ruined our last days of holidays""",True,Do not book a flight with this airline! My fr...,NaN,Couple Leisure,Economy Class,Sofia to Amsterdam via Ljubljana,September 2019,1.0,1.0,1.0,1.0,1.0,1.0,1.0,no

In [6]:
# dropping attributes due to feature irrelevance
df.drop(columns=['Airline Name', 'Verified', 'Aircraft', 'Type Of Traveller', 'Seat Type', 'Route'], inplace=True)
df.head()
        
## note: review title and review are left for sentiment analysis / llm application later, but will not be addressed in this section

,Overall_Rating,Review_Title,Review,Date Flown,Seat Comfort,Cabin Staff Service,Food & Beverages,Ground Service,Inflight Entertainment,Wifi & Connectivity,Value For Money,Recommended
0,9,"""pretty decent airline""",Moroni to Moheli. Turned out to be a pretty ...,November 2019,4.0,5.0,4.0,4.0,NaN,NaN,3.0,yes
1,1,"""Not a good airline""",Moroni to Anjouan. It is a very small airline...,June 2019,2.0,2.0,1.0,1.0,NaN,NaN,2.0,no
2,1,"""flight was fortunately short""",Anjouan to Dzaoudzi. A very small airline an...,June 2019,2.0,1.0,1.0,1.0,NaN,NaN,2.0,no
3,1,"""I will never fly again with Adria""",Please do a favor yourself and do not fly wi...,September 2019,1.0,1.0,NaN,1.0,NaN,NaN,1.0,no
4,1,"""it ruined our last days of holidays""",Do not book a flight with this airline! My fr...,September 2019,1.0,1.0,1.0,1.0,1.0,1.0,1.0,no

##

# 3. Segmentation by Time Period
<strong>Pre-COVID period:</strong> Before 1 March 2019 (exclusive)<br>
<strong>Post-COVID period:</strong> After 1 March 2019 (inclusive)
<hr>
<i>Back to <a href='#Table-of-Contents'>Table of Contents</a></i>

In [7]:
# converting review date attribute into datetime object
df['Date Flown'] = pd.to_datetime(df['Date Flown'], format='%B %Y')
df.head()

,Overall_Rating,Review_Title,Review,Date Flown,Seat Comfort,Cabin Staff Service,Food & Beverages,Ground Service,Inflight Entertainment,Wifi & Connectivity,Value For Money,Recommended
0,9,"""pretty decent airline""",Moroni to Moheli. Turned out to be a pretty ...,2019-11-01,4.0,5.0,4.0,4.0,NaN,NaN,3.0,yes
1,1,"""Not a good airline""",Moroni to Anjouan. It is a very small airline...,2019-06-01,2.0,2.0,1.0,1.0,NaN,NaN,2.0,no
2,1,"""flight was fortunately short""",Anjouan to Dzaoudzi. A very small airline an...,2019-06-01,2.0,1.0,1.0,1.0,NaN,NaN,2.0,no
3,1,"""I will never fly again with Adria""",Please do a favor yourself and do not fly wi...,2019-09-01,1.0,1.0,NaN,1.0,NaN,NaN,1.0,no
4,1,"""it ruined our last days of holidays""",Do not book a flight with this airline! My fr...,2019-09-01,1.0,1.0,1.0,1.0,1.0,1.0,1.0,no

In [8]:
print(df['Date Flown'].dtype)

datetime64[ns]

In [9]:
# cutoff date for pre- and post-COVID periods
covid_cutoff = pd.Timestamp('2020-03-01')

# creating pre- and post-COVID DataFrames
pre_covid = df[df['Date Flown'] < covid_cutoff]
post_covid = df[df['Date Flown'] >= covid_cutoff]

In [10]:
# checking most recent date of pre-covid data
pre_covid['Date Flown'].head()

0   2019-11-01
1   2019-06-01
2   2019-06-01
3   2019-09-01
4   2019-09-01
Name: Date Flown, dtype: datetime64[ns]

In [11]:
# checking start of post-covid data
post_covid['Date Flown'].tail()

23166   2022-06-01
23167   2022-06-01
23168   2022-05-01
23169   2022-05-01
23170   2022-05-01
Name: Date Flown, dtype: datetime64[ns]

<hr>
<i>Back to <a href='#Table-of-Contents'>Table of Contents</a></i>

##

# 4. Addressing Missing Values
We address missing values after segmenting the data to <strong>avoid information leakage</strong> between the time periods. Furthermore, as GAN algorithms require <strong>complete data</strong>, imputation must prelude applying the GAN algorithm.
<hr>
<i>Back to <a href='#Table-of-Contents'>Table of Contents</a></i>

## Imputing Pre-Covid DataFrame

In [12]:
# descriptive statistics BEFORE imputation
pre_covid.describe()

,Date Flown,Seat Comfort,Cabin Staff Service,Food & Beverages,Ground Service,Inflight Entertainment,Wifi & Connectivity,Value For Money
count,8526,8043.000000,8012.000000,6127.000000,8340.000000,3976.000000,1848.000000,8526.000000
mean,2018-03-28 14:23:03.251231744,2.781301,3.053545,2.783907,2.586211,2.390845,1.784632,2.697279
min,2012-04-01 00:00:00,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,2017-01-01 00:00:00,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
50%,2018-09-01 00:00:00,3.000000,3.000000,3.000000,2.000000,2.000000,1.000000,2.000000
75%,2019-07-01 00:00:00,4.000000,5.000000,4.000000,4.000000,4.000000,2.000000,4.000000
max,2020-02-01 00:00:00,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000
std,NaN,1.445276,1.567602,1.493368,1.600494,1.447499,1.320835,1.621906

In [13]:
# retrieving the count of null values for each column
null_counts = pre_covid.isnull().sum()
print(null_counts)

Overall_Rating               0
Review_Title                 0
Review                       0
Date Flown                   0
Seat Comfort               483
Cabin Staff Service        514
Food & Beverages          2399
Ground Service             186
Inflight Entertainment    4550
Wifi & Connectivity       6678
Value For Money              0
Recommended                  0
dtype: int64

In [14]:
from sklearn.impute import SimpleImputer

imputer = SimpleImputer(strategy='median')
pre_covid['Seat Comfort'] = imputer.fit_transform(pre_covid[['Seat Comfort']])
pre_covid['Cabin Staff Service'] = imputer.fit_transform(pre_covid[['Cabin Staff Service']])
pre_covid['Food & Beverages'] = imputer.fit_transform(pre_covid[['Food & Beverages']])
pre_covid['Ground Service'] = imputer.fit_transform(pre_covid[['Ground Service']])
pre_covid['Inflight Entertainment'] = imputer.fit_transform(pre_covid[['Inflight Entertainment']])
pre_covid['Wifi & Connectivity'] = imputer.fit_transform(pre_covid[['Wifi & Connectivity']])

null_counts = pre_covid.isnull().sum()
print(null_counts)

Overall_Rating            0
Review_Title              0
Review                    0
Date Flown                0
Seat Comfort              0
Cabin Staff Service       0
Food & Beverages          0
Ground Service            0
Inflight Entertainment    0
Wifi & Connectivity       0
Value For Money           0
Recommended               0
dtype: int64

/var/folders/w7/kzzg2tzs18d7rs9s0dmxbkz40000gn/T/ipykernel_73567/944678558.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pre_covid['Seat Comfort'] = imputer.fit_transform(pre_covid[['Seat Comfort']])
/var/folders/w7/kzzg2tzs18d7rs9s0dmxbkz40000gn/T/ipykernel_73567/944678558.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pre_covid['Cabin Staff Service'] = imputer.fit_transform(pre_covid[['Cabin Staff Service']])
/var/folders/w7/kzzg2tzs18d7rs9s0dmxbkz40000gn/T/ipykernel_73567/944678558.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pre_covid['Food & Beverages'] = imputer.fit_transform(pre_covid[['Food & Beverages']])
/var/folders/w7/kzzg2tzs18d7rs9s0dmxbkz40000gn/T/ipykernel_73567/944678558.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pre_covid['Ground Service'] = imputer.fit_transform(pre_covid[['Ground Service']])
/var/folders/w7/kzzg2tzs18d7rs9s0dmxbkz40000gn/T/ipykernel_73567/944678558.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pre_covid['Inflight Entertainment'] = imputer.fit_transform(pre_covid[['Inflight Entertainment']])
/var/folders/w7/kzzg2tzs18d7rs9s0dmxbkz40000gn/T/ipykernel_73567/944678558.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pre_covid['Wifi & Connectivity'] = imputer.fit_transform(pre_covid[['Wifi & Connectivity']])

In [15]:
# descriptive statistics AFTER imputation
pre_covid.describe()

,Date Flown,Seat Comfort,Cabin Staff Service,Food & Beverages,Ground Service,Inflight Entertainment,Wifi & Connectivity,Value For Money
count,8526,8526.000000,8526.000000,8526.00000,8526.000000,8526.000000,8526.000000,8526.000000
mean,2018-03-28 14:23:03.251231744,2.793690,3.050317,2.84471,2.573422,2.182266,1.170068,2.697279
min,2012-04-01 00:00:00,1.000000,1.000000,1.00000,1.000000,1.000000,1.000000,1.000000
25%,2017-01-01 00:00:00,1.000000,1.000000,2.00000,1.000000,2.000000,1.000000,1.000000
50%,2018-09-01 00:00:00,3.000000,3.000000,3.00000,2.000000,2.000000,1.000000,2.000000
75%,2019-07-01 00:00:00,4.000000,5.000000,4.00000,4.000000,2.000000,1.000000,4.000000
max,2020-02-01 00:00:00,5.000000,5.000000,5.00000,5.000000,5.000000,5.000000,5.000000
std,NaN,1.404647,1.519662,1.26965,1.585252,1.007465,0.694630,1.621906

<hr>

## Imputing Post-Covid DataFrame

In [16]:
# descriptive statistics BEFORE imputation
post_covid.describe()

,Date Flown,Seat Comfort,Cabin Staff Service,Food & Beverages,Ground Service,Inflight Entertainment,Wifi & Connectivity,Value For Money
count,10891,9569.000000,9495.000000,6975.000000,10026.000000,5491.000000,4072.000000,10889.000000
mean,2022-08-25 05:02:15.194196992,2.436409,2.689731,2.364444,2.160782,2.219086,1.778487,2.113509
min,2020-03-01 00:00:00,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,1.000000
25%,2022-05-01 00:00:00,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
50%,2022-12-01 00:00:00,2.000000,2.000000,2.000000,1.000000,1.000000,1.000000,1.000000
75%,2023-04-01 00:00:00,4.000000,4.000000,4.000000,4.000000,3.000000,2.000000,3.000000
max,2023-08-01 00:00:00,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000
std,NaN,1.445554,1.603660,1.493873,1.566444,1.447656,1.318034,1.507016

In [17]:
# retrieving the count of null values for each column
null_counts = post_covid.isnull().sum()
print(null_counts)

Overall_Rating               0
Review_Title                 0
Review                       0
Date Flown                   0
Seat Comfort              1322
Cabin Staff Service       1396
Food & Beverages          3916
Ground Service             865
Inflight Entertainment    5400
Wifi & Connectivity       6819
Value For Money              2
Recommended                  0
dtype: int64

In [18]:
post_covid['Seat Comfort'] = imputer.fit_transform(post_covid[['Seat Comfort']])
post_covid['Cabin Staff Service'] = imputer.fit_transform(post_covid[['Cabin Staff Service']])
post_covid['Food & Beverages'] = imputer.fit_transform(post_covid[['Food & Beverages']])
post_covid['Ground Service'] = imputer.fit_transform(post_covid[['Ground Service']])
post_covid['Inflight Entertainment'] = imputer.fit_transform(post_covid[['Inflight Entertainment']])
post_covid['Wifi & Connectivity'] = imputer.fit_transform(post_covid[['Wifi & Connectivity']])
post_covid['Value For Money'] = imputer.fit_transform(post_covid[['Value For Money']])

null_counts = post_covid.isnull().sum()
print(null_counts)

Overall_Rating            0
Review_Title              0
Review                    0
Date Flown                0
Seat Comfort              0
Cabin Staff Service       0
Food & Beverages          0
Ground Service            0
Inflight Entertainment    0
Wifi & Connectivity       0
Value For Money           0
Recommended               0
dtype: int64

/var/folders/w7/kzzg2tzs18d7rs9s0dmxbkz40000gn/T/ipykernel_73567/1140080728.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  post_covid['Seat Comfort'] = imputer.fit_transform(post_covid[['Seat Comfort']])
/var/folders/w7/kzzg2tzs18d7rs9s0dmxbkz40000gn/T/ipykernel_73567/1140080728.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  post_covid['Cabin Staff Service'] = imputer.fit_transform(post_covid[['Cabin Staff Service']])
/var/folders/w7/kzzg2tzs18d7rs9s0dmxbkz40000gn/T/ipykernel_73567/1140080728.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  post_covid['Food & Beverages'] = imputer.fit_transform(post_covid[['Food & Beverages']])
/var/folders/w7/kzzg2tzs18d7rs9s0dmxbkz40000gn/T/ipykernel_73567/1140080728.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  post_covid['Ground Service'] = imputer.fit_transform(post_covid[['Ground Service']])
/var/folders/w7/kzzg2tzs18d7rs9s0dmxbkz40000gn/T/ipykernel_73567/1140080728.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  post_covid['Inflight Entertainment'] = imputer.fit_transform(post_covid[['Inflight Entertainment']])
/var/folders/w7/kzzg2tzs18d7rs9s0dmxbkz40000gn/T/ipykernel_73567/1140080728.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  post_covid['Wifi & Connectivity'] = imputer.fit_transform(post_covid[['Wifi & Connectivity']])
/var/folders/w7/kzzg2tzs18d7rs9s0dmxbkz40000gn/T/ipykernel_73567/1140080728.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  post_covid['Value For Money'] = imputer.fit_transform(post_covid[['Value For Money']])

In [19]:
# descriptive statistics AFTER imputation
post_covid.describe()

,Date Flown,Seat Comfort,Cabin Staff Service,Food & Beverages,Ground Service,Inflight Entertainment,Wifi & Connectivity,Value For Money
count,10891,10891.000000,10891.000000,10891.000000,10891.000000,10891.000000,10891.000000,10891.000000
mean,2022-08-25 05:02:15.194196992,2.383436,2.601322,2.233404,2.068589,1.614636,1.291066,2.113305
min,2020-03-01 00:00:00,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,1.000000
25%,2022-05-01 00:00:00,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
50%,2022-12-01 00:00:00,2.000000,2.000000,2.000000,1.000000,1.000000,1.000000,1.000000
75%,2023-04-01 00:00:00,3.000000,4.000000,3.000000,3.000000,2.000000,1.000000,3.000000
max,2023-08-01 00:00:00,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000
std,NaN,1.362450,1.514998,1.208202,1.535373,1.195017,0.889554,1.506953

<hr>
<i>Back to <a href='#Table-of-Contents'>Table of Contents</a></i>

#

# 5. Generative Adversarial Network (GAN)
In our initial analysis of the <a href='https://www.kaggle.com/code/gvyshnya/airline-reviews-sentiments-ts-and-eda/input'>data source</a>, we discovered that there is a massive data imbalance with respect to the pre- and post-COVID classes. This means that, if we use the data as-is, our models' <strong>learning capacity for the pre-COVID period is lesser</strong> compared to that of the post-COVID period. 

Thus, we intend to utilise the GAN algorithm to:
<li>Generate more airline review data for the post-COVID period by training it on the limited amount data pertaining to this time period</li>
<li>Fine-tuning GAN to simulate the distribution of post-COVID reviews.</li>
<hr>
<i>Back to <a href='#Table-of-Contents'>Table of Contents</a></i>

###

In [20]:
# balancing the data by generating more samples for the post-COVID period using GAN
print(f"Pre-COVID data: {len(pre_covid)}\nPost-COVID data: {len(post_covid)}")

Pre-COVID data: 8526
Post-COVID data: 10891

<br>In view of the amount of data in the <strong>pre-COVID</strong> period being less than that of the post-covid period, we will be using GAN on the pre-covid data segment only.

In [21]:
pre_covid.head()

,Overall_Rating,Review_Title,Review,Date Flown,Seat Comfort,Cabin Staff Service,Food & Beverages,Ground Service,Inflight Entertainment,Wifi & Connectivity,Value For Money,Recommended
0,9,"""pretty decent airline""",Moroni to Moheli. Turned out to be a pretty ...,2019-11-01,4.0,5.0,4.0,4.0,2.0,1.0,3.0,yes
1,1,"""Not a good airline""",Moroni to Anjouan. It is a very small airline...,2019-06-01,2.0,2.0,1.0,1.0,2.0,1.0,2.0,no
2,1,"""flight was fortunately short""",Anjouan to Dzaoudzi. A very small airline an...,2019-06-01,2.0,1.0,1.0,1.0,2.0,1.0,2.0,no
3,1,"""I will never fly again with Adria""",Please do a favor yourself and do not fly wi...,2019-09-01,1.0,1.0,3.0,1.0,2.0,1.0,1.0,no
4,1,"""it ruined our last days of holidays""",Do not book a flight with this airline! My fr...,2019-09-01,1.0,1.0,1.0,1.0,1.0,1.0,1.0,no

In [22]:
# encoded recommended as it is a binary categorical attribute
from sklearn.preprocessing import MinMaxScaler, LabelEncoder

label_encoder = LabelEncoder()
pre_covid['Recommended'] = label_encoder.fit_transform(pre_covid['Recommended'])  # 'yes' -> 1, 'no' -> 0
pre_covid.head()

/var/folders/w7/kzzg2tzs18d7rs9s0dmxbkz40000gn/T/ipykernel_73567/1794063178.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pre_covid['Recommended'] = label_encoder.fit_transform(pre_covid['Recommended'])  # 'yes' -> 1, 'no' -> 0

,Overall_Rating,Review_Title,Review,Date Flown,Seat Comfort,Cabin Staff Service,Food & Beverages,Ground Service,Inflight Entertainment,Wifi & Connectivity,Value For Money,Recommended
0,9,"""pretty decent airline""",Moroni to Moheli. Turned out to be a pretty ...,2019-11-01,4.0,5.0,4.0,4.0,2.0,1.0,3.0,1
1,1,"""Not a good airline""",Moroni to Anjouan. It is a very small airline...,2019-06-01,2.0,2.0,1.0,1.0,2.0,1.0,2.0,0
2,1,"""flight was fortunately short""",Anjouan to Dzaoudzi. A very small airline an...,2019-06-01,2.0,1.0,1.0,1.0,2.0,1.0,2.0,0
3,1,"""I will never fly again with Adria""",Please do a favor yourself and do not fly wi...,2019-09-01,1.0,1.0,3.0,1.0,2.0,1.0,1.0,0
4,1,"""it ruined our last days of holidays""",Do not book a flight with this airline! My fr...,2019-09-01,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0

In [23]:
# exporting data
pre_covid.to_csv('pre_covid.csv', index=False)
post_covid.to_csv('post_covid.csv', index=False)

###
### Please Note:
As the GAN computation time on a CPU is too costly (hence commented out below), we used a <a href='https://colab.research.google.com/drive/1SApv2SmcYGH1j8TIna8JwxmeojMhCkup?usp=sharing'>Google Colab notebook</a> for the remaining code, that is to
<li>Further pre-process the data for GAN model training (i.e. scaling of attributes)</li>
<li>Train the GAN model</li>
<li>Generate, refine and export newly synthesised data</li>
<br>
This separate notebook is included in our submissions and is titled <strong>IS460 G1 Group 5 - Generative Adversarial Network.ipynb</strong>.

<hr>
<i>Back to <a href='#Table-of-Contents'>Table of Contents</a></i><br><br>
<h4>End of script.</h4>